.container {
  margin-left: 5px;
  margin-right: 5px;
}

#left {
  float: left;
  width: 50%;
}

#left2 {
  float:left;
  width: 40%;
}

.right {
  float:right;
  width: 40%;
}

.nav nav-tabs.right {
  float: right;
}

.green-body {
  background: #e6fff2;
}

.blue-body {
  background: #e6f2ff;
}

.purple-body {
  background: #f7e6ff;
}
